 ul{
  font-size: 150%;}
  #hedlrg {
  	font-size: 200%;
  	font-weight: bold;
  }



#divplc{

position: relative;
top: 230px;
right:-740px;
font-family: 'Dancing Script', cursive;
font-size:300%;
width:700px;
}



header {
  background:#aaaaaa url(1.jpg) no-repeat;
  background-size: 100% auto;
  height:800px;
  padding-top: 15px;
  margin-bottom:2px;
  display: block;
  display: flex;
  justify-content: center;
}

section div h1{
  text-align:center;
  font-family: 'Permanent Marker', cursive;
  font-size:400%;
  padding-bottom:0px;
  }



.content{

  float:left;
  position:inline;
  width:35%;
  font-size:20px;
  text-align:justify;
  margin-left:100px;
  padding-top:40px;
 
}




.coneimg{
  width: 16%;
  display: inline-block;
  float:left;
  border-radius: 8px;
  border: solid black 3px;
  margin-left:400px;
  margin-top:50px;
}

 .padd{
   
  padding-bottom:300px;
  background-color:#67ABF0;
 }


#abtme{
  background-color:#00b38f;
  margin-bottom:3px;

}

#span1{
  background-color:whitesmoke;
  display: flex;
  justify-content: center;
  padding:20px 0px;
  margin-bottom: 0%;
  background:#aaaaaa url(3.png) no-repeat;
  background-size: 100% auto;
}

#ptfilo{
  background-color:#4d4d4d;
  color:white;
  
}

span{
  background-color:black;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top:30px;
}


  body>section>span>div>h3{
    font-size:24px;  
    font-weight: bolder;
    font-family: 'Signika', sans-serif;

  }


 body>section>span>div>h4{
    font-size:20px;
    text-align:justify; 
    font-family: 'Signika', sans-serif;

  }

  body>section>span>div>h5{
    font-size:18px;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
   
  }

  .conimg{
    width:200px;
    float:left;
    border-radius: 8px;
    border: solid yellow 3px;
    
  }
  .conimdg{
    width:350px;
    border-radius: 8px;
    border: solid rgb(5, 66, 136) 3px;
    margin-bottom: 50px;
  }

  #sklset{
    background-color:#4d4d4d;
    color:white; 
  }
  .span2{
    </section>
    display: flex;
    justify-content: center;
    padding-top:30px;
  }


































































